version: 1
formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: precise
loggers:
  synapse.storage.SQL:
    level: INFO
  twisted:
    handlers:
      - console
root:
  level: INFO   # DEBUG, INFO, WARNING, ERROR, CRITICAL or NOTSET.
  handlers: [console]
disable_existing_loggers: false
